<style>
  b {
    font-size: 20px;
  }
</style>
<div class="row" style="margin-left: 0px;">
  <h2 style="color: #E11D1F; font-size: 16px; padding: 9px 0; "><%= @toy.name %></h2>
</div>
<div class="row" style="margin-left: 0px;">
  <div class="container-fluid" style="padding-left: 0px;">
    <div class="row-fluid">
      <div class="span7">
        <div class="thumbnail" style="width: 450px;">
          <%#= image_tag(@toy.avatar.url(:small), :style => "width: auto; height: 417px;") %>
<% cache do %>
  <%= render :partial => "/common_toys/shared/item", :locals => {:t => @toy, :sstyle => "width: auto; height: 417px;"} %>
<% end %>
        </div>
      </div>
      <div class="span4">

        <!--Body content-->
        <div class="span">
          <label style="color: #747474; font-size: 18px; font-weight: bold; margin-right: 10px; padding: 5px 0; width: auto;">Giá tiền: <%= number_to_currency(@toy.price,:precision => 0, :unit => "đồng", :format => "%n %u") %></label>
          </div>
        </div>
        <div class="span4">
          <%= @toy.description.html_safe %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 0px;">

    <div class="">
      <div class="alert alert-success"  style="margin-top: 10px;">
        Các sản phẩm liên quan
      </div>
    </div>
    <div class="span" style="margin-left: 0px;">
      <%= show_related(@toy) %>
    </div>
  </div>

